{% macro terminal(lines) %}
<div class='terminal'>
    {% autoescape false %}
    {% for line in lines %}
        <span>{{ line }}</span> <br />
    {% endfor %}
    {% endautoescape %}
</div>
{% endmacro %}

<html>
    <head>
        <title>Coding Dojo Silesia Golf 2018 HOWTO</title>
        <link rel="stylesheet" type="text/css" href="stats/css.css" />
    </head>
    <body class="sld">
        <h1>Coding Dojo Silesia Golf 2018 HOWTO</h1>
        <h2>Rules</h2>
        <ol>
            <li>Result must be printed in <strong>STDOUT</strong></li>
            <li>Program gets 3 arguments (argv) in order: text, width (int) and height (int)</li>
            <li>Text argument is not blank</li>
            <li>Text has always one line (without newline character)</li>
            <li>Minimum width of box is 18 chars</li>
            <li>Minimum height (with bow too) of box is 14 lines</li>
            <li>Width and height are always even</li>
            <li><strong>Each</strong> line must have newline char (\n) on the end</li>
            <li><strong>Each</strong> line doesn't have additional blank chars on the end</li>
        </ol>
        <h2>Examples</h2>
        <p>
            Task are simple - write the code to draw gift box with text
            (ASCII art is from <a href='https://asciiart.website/index.php?art=holiday/christmas/other'>https://asciiart.website/index.php?art=holiday/christmas/other</a>
            {{ terminal(help1) }}
        </p>
        <p>
            First argument is a text
            {{ terminal(help_text1) }}
            {{ terminal(help_text2) }}
        </p>
        <p>
            Second argument is a width of gift box
            {{ terminal(help_width1) }}
            {{ terminal(help_width2) }}
        </p>
        <p>
            Third argument is a height of gift box
            {{ terminal(help_height1) }}
            {{ terminal(help_height2) }}
        </p>
    </body>
</html>
