<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/stats/css.css" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <div class='sld'>
            Howto? <a href="/howto">click here</a> <br />
            <form method="POST">
                Select language
                <select name="lang">
                    {% for key, lang_name in langs %}
                    <option value="{{key}}" {% if key == lang %}selected{% endif %}>{{ lang_name }}</option>
                    {% endfor %}
                </select> 
                Nick <input type='text' name='nick' required maxlength=10 value='{{ nick }}' />
                <input type='submit' value='Submit' />
                <br/>
                <span>Code ↓↓↓</span> <br/>
                <textarea name="code" rows="60" cols="100">{{ code }}</textarea>
            </form>
        </div>
        <div class='pis'>
            {% if is_done %}
                <span class="success">Good Job!</span> <br />
            {% endif %}
            {% if err %}
                <span class="error">Error!</span> <br />
                {% if diff %}
                    <span>stdout:</span> <br />
                    <pre class="terminal">{% autoescape false %}{% for line in diff %}{{ line }}{% endfor %}{% endautoescape %}</pre>
                    <br />
                {% endif %}
                {% if error_output %}
                    <span>stderr:</span> <br />
                    <pre class="terminal">{% autoescape false %}{% for line in error_output %}{{ line }}{% endfor %}{% endautoescape %}</pre>
                    <br />
                {% endif %}
            {% else %}
                <table>
                    <caption>HIGHSCORE</caption>
                    {% for hero in heroes %}
                    <tr>
                        <th class='index'>{{ loop.index }}</th>
                        <td>{{ hero.nick }}</td>
                        <th>{{ hero.lang }}</th>
                        <td class="score">{{ hero.score }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        </form>
        <small style='clear: both; float: left'>
            &copy; <a href='https://github.com/firemark/'>firemark</a> 2019.
            Server runs on nsjail, uwsgi, python, flask and love &lt;3
        </small>
    </body>
</html>
